# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# vs code configuration
.vscode

# Mac
.DS_Store

.idea/*

temp/*
!temp/.gitkeep

logs/*
!logs/.gitkeep